@using Ganhua.DesignPattern.Model
@{
    Layout = "~/Views/Shared/_BlogMaster.cshtml";
    ViewBag.Title = "ViewPage1";
}


<div id="content">
    <h2> @Html.Encode(ViewBag.LatestPost.Subject)</h2>
    @(new HtmlString(ViewBag.LatestPost.Text.Replace("\n", "<br />")))
            
    
    <br /><i>posted on @Html.Encode(ViewBag.LatestPost.DateAdded.ToLongDateString())</i>
    <hr />
    Comments<br />
    @foreach (var item in ViewBag.LatestPost.Comments)
    {
        <p>
            <i> @Html.Encode(item.Author) said on @Html.Encode(item.DateAdded.ToLongDateString()) at @Html.Encode(item.DateAdded.ToShortTimeString()) ...</i><br />
            @Html.Encode(item.Text)
        </p>
    }
   
    
   

    <p>Add a comment</p>
    @using (Html.BeginForm("CreateComment", "Blog", new { Id = ViewBag.LatestPost.Id }, FormMethod.Post))
    {
        <p>
            Your name<br />
            @Html.TextBox("Author")
        </p>

        <p>
            Your comment<br />
            @Html.TextArea("Comment")
        </p>

        <p>
            <input type="submit" value="Add Comment" />

        </p>
    }
</div>
<div id="rightNav">
    <h2>All Posts</h2>
    <ul>
        @foreach (var item in (Post[])ViewBag.AllPosts)
        {
        <li>
            @Html.ActionLink(item.Subject, "Detail", new { Id=item.Id  })
        </li>
        }
    </ul>
</div>      